* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #F9F6EF;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Avenir','Nunito', sans-serif;
  font-size: 19px;
}


a {
  text-decoration: none;
  color: black;
}


/* NAVIGATION */
.mainnav {
  margin-top: 5px;
}

.nav-ul-flex {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.nav-ul-flex > li {
  font-size: 20px;
}

.second-lihome {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  width: 100%;
  font-weight: bold;
}

.second-liprojects {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 180px;
  font-weight: bold;
}

.second-liabout {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  padding: 20px;
  width: 180px;
  font-weight: bold;
}


.second-navlinks {
  color: #4F4F4F;
}


.second-navlinks:hover {
  color: #FFA1A1;
}


@media (max-width: 500px) {
  .second-liprojects {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    width: auto;
    font-size: 20px;
    border-right: 2px solid #FFA1A1;
  }

}
/* END NAV */

.section-about {
  margin-top: 60px;
}

.spinach {
  text-decoration: underline;
  text-decoration-color: #4F4F4F;
}

.spinach:hover {
  text-decoration: underline;
  text-decoration-color: #FFA1A1;
  color: #FFA1A1;
}


/* Content in the rectangle */
ul {
  list-style-type: none;
}

li {
  font-size: 16px;
}

/* PHOTO */
img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  margin: 0;
  padding: 0;
}



/* GRID AREAS */
.content {
  grid-area: content;
  padding-right: 50px;
  font-size: 18px;

}

.image {
  grid-area: image;
}

.rectangle1 {
  grid-area: skills;
  border: 2px solid #4F4F4F;
}

.rectangle2 {
  grid-area: interests;
  border: 2px solid #4F4F4F;
}

/* STYLE GROUPS */
.ilovedoinggroup {
  margin-bottom: 12px;
  margin-top: 5px;
  padding-left: 10px;
}

.currentlylearninggroup {
  padding-left: 10px;
  padding-bottom: 5px;
}

.experience {
  margin-bottom: 12px;
  margin-top: 5px;
  padding-left: 10px;
}

.studies {
  padding-left: 10px;
  padding-bottom: 5px;
}

/* GRID */
.grid-container {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: 0.1fr 3fr 0.1fr;
  grid-template-areas:
  ". content ."
  ". image ."
  ". skills ."
  ". interests ."
}

@media (min-width: 500px) {
  .grid-container {
    grid-template-columns: 0.1fr 1fr 1fr 0.1fr;
    grid-template-areas:
    ". content  content ."
    ". image    image ."
    ". skills  interests ."
 }
}

 @media (min-width: 800px) {
  .grid-container {
    grid-template-columns: 0.5fr 6fr 2fr 0.5fr;
    grid-template-rows: auto;
    grid-template-areas:
    ". content  image ."
    ". content skills ."
    ". content interests ."

}
}


/* intro text style */
 p {
  margin-bottom: 20px;
  line-height: 1.58;
}

.p1 {
 margin-bottom: 20px;
 line-height: 1.4;
}




/* Yellow contact section */
.contact-flex {
  width: 100%;
  height: 500px;
  background-color: #F0FF42;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.contact-text {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: inherit;
}


.contact-flex:hover {
  background-color: #FFA1A1;
  color: white;
}

@media (max-width: 600px) {
  .contact-text {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
  }
  }


  
/* Footer  */
footer {
  height: 275px;
  width: 100%;
  background-color: #333333;
  position: absolute;
}

.footer-flex {
  height: 275px;
  width: 100%;
  background-color: #333333;
  position: absolute;
}

.contacts {
  background-color: #333333;
}

footer p {
  color: #F2F2F2;
  font-size: 14px;
  background-color: inherit;
}

.p-title {
  display: block;
  width: 80%;
  height: auto;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 90px;
}

.contact-email {
  width: auto;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.contact-linkedin {
  width: auto;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.Linkedinlink, .contacturl {
  text-decoration: none;
  background-color: inherit;
  color: #F2F2F2;
}


@media (min-width: 600px) {


  footer, .footer-flex {
    height: 200px;
  }

  .p-title {
    display: block;
    justify-content: center;
    width: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  .contacts {
    display: flex;
  }

  .contact-email {
    display: flex;
    justify-content: flex-start;
    width: auto;
    text-align: left;
    margin-left: 5%;
    margin-right: auto;
  }


  .contact-linkedin {
    display: flex;
    justify-content: flex-end;
    width: auto;
    text-align: left;
    margin-right: 5%;
    margin-bottom: 0px;
  }

.Linkedinlink:hover {
  color: #1485BD;
}
}


@media (min-width: 900px) {

  .contact-email {
    margin-left: 10%;
  }

  .contact-linkedin {
    margin-right: 10%;
}

}
