* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #F9F6EF;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Avenir', sans-serif;
  font-size: 18px;
}


a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
  color: black;
}

ul {
  margin-bottom: 20px;
}

/* NAVIGATION */
.mainnav {
  margin-top: 5px;
}

.nav-ul-flex {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.nav-ul-flex > li {
  font-size: 20px;
  font-weight: bold;
}

.second-lihome {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.second-liprojects {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 180px;
}

.second-liabout {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  padding: 20px;
  width: 180px;
}

.second-navlinks {
  color: #4F4F4F;
}


.second-navlinks:hover {
  color: #FFA1A1;
}




@media (max-width: 500px) {
  .second-liprojects {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    width: auto;
    font-size: 20px;
    border-right: 2px solid #FFA1A1;
  }

}
/* END NAV */


/* Intro
.intro {
  border-bottom: 4px solid #4F4F4F;
}

.intro-copy {
  margin-left: 20px;
  margin-right: 20px;
  width: 90%;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (min-width: 500px) {
  .intro-text {
    margin: 50px 10% 50px 10%;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
}
*/
/* end Intro */



.projects {
  margin-top: 100px;
}

/* GRID (Mobile first) */
/* 1: Name the grid-area */

.image-section {
  background-color: black;
  width: 300px;
  height: 250px;
  justify-content: center;
  text-align: center;
}


.image-section {
  grid-area: image-section-gridarea;
}

.content-section {
  grid-area: content-section;
  border: 2px solid #4F4F4F;
}

.responsabilities-section {
  grid-area: responsabilities-section;
  border: 2px solid #4F4F4F;
}

/* 2: GRID details */
.project-grid {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-rows: auto;
    grid-template-areas:
    "image-section-gridarea"
    "responsabilities-section"
    "content-section"
}

.image-section {
  margin: 0 auto;
  justify-content: center;
}

  .project-grid {
    margin-bottom: 10px;
}

  @media (min-width: 575px) {
    .project-grid {
      display: grid;
      grid-column-gap: 3px;
      grid-row-gap: 10px;
      grid-template-columns: 300px 1fr;
      grid-template-rows: auto auto;
      grid-template-areas:
      "image-section-gridarea content-section"
      "responsabilities-section responsabilities-section"
    }

.project-grid {
  margin-bottom: 10px;
}

.CTA-readmore {
  border: 0;
  padding: 0
  margin: 0;
  visibility: hidden;
  display: none;
}

.CTA-link {
  border: 0;
  padding: 0
  margin: 0;
  visibility: hidden;
  display: none;
}
}

  @media (min-width: 880px) {
    .project-grid {
      display: grid;
      grid-column-gap: 10px;
      grid-row-gap: 30px;
      grid-template-columns: 5px 300px 1fr 0.5fr 5px;
      grid-template-areas:
      ". image-section-gridarea content-section responsabilities-section ."
    }

    .CTA-readmore {
      border: 0;
      padding: 0
      margin: 0;
      visibility: hidden;
      display: none;
    }

    .CTA-link {
      border: 0;
      padding: 0
      margin: 0;
      visibility: hidden;
      display: none;
    }
  }

  @media (min-width: 1000px) {
    .project-grid {
      display: grid;
      grid-column-gap: 10px;
      grid-row-gap: 30px;
      grid-template-columns: 0.1fr 300px 1fr 0.5fr 0.1fr;
      grid-template-areas:
      ". image-section-gridarea content-section responsabilities-section ."
    }

    .CTA-readmore {
      display: none;
    }

    .CTA-link {
      display: none;
    }
  }


/* Styling case studies */
.content-section {
  padding: 10px;
  padding-top: 5px;
}

.responsabilities-section {
  padding: 10px;
  padding-top: 5px;
}

.year-case {
  color: #4F4F4F;
  font-size: 16px;
  font-weight: bold;
}

.CTA-readmore {
  display: flex;
  width: 150px;
  height: 50px;
  margin: 10px auto 0px auto;
  border: 8px solid black;
  align-items: center;
  justify-content: center;
}




/* Case study 1 */
.image-case1 {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url(Images/ALP_thumb1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.project1 {
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 4px solid #4F4F4F
}

/* Case study 2 */
.image-case2 {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url(Images/IDH_mountain.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* Case study 3 */
.image-case3 {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url(Images/VELA_thumbnail.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Case study 4 */
.image-case4 {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url(Images/Homytschku_thumbnail.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Case study 5 */
.image-case5 {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url(Images/ALP_ecommerceV2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* Hover effects on images */
@media (min-width: 600px) {
  .image-case1:hover, .image-case2:hover, .image-case3:hover, .image-case4:hover, .image-case5:hover  {
    opacity: 0.5;
  }
}


/* END hover effects on images */


/* Last paragraph */
.ending-copy-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.closing-copy {
  display: flex;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

/* Yellow contact section */
.contact-flex {
  width: 100%;
  height: 500px;
  background-color: #F0FF42;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.contact-text {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: inherit;
}


.contact-flex:hover {
  background-color: #FFA1A1;
  color: white;
}

@media (max-width: 600px) {
  .contact-text {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
  }
}
/* End Yellow section */

/* Footer - Make it mobile first (include media queries for > screens) */
footer {
  display: flex;
  height: 100px;
  width: 100%;
  background-color: #333333;
  position: absolute;
}

.footer-flex {
  display: flex;
  height: 60px;
  width: 100%;
  background-color: #333333;
  position: absolute;
  margin-top: 20px;
}

.email-child {
  display: flex;
  background-color: inherit;
  width: 80%;
  height: auto;
  justify-content: flex-start;
  margin-left: 5%;
  align-items: center;
}

.email {
  color: #F2F2F2;
  text-align: left;
  background-color: inherit;
  font-size: 14px;
}

.social-contact {
  display: flex;
  width: auto;
  height: auto;
  align-items: center;
  background-color: inherit;
  font-size: 14px;
  margin-right: 20px;
  justify-content: flex-end;
}

.contacturl  {
  text-decoration: none;
  background-color: inherit;
  color: #F2F2F2;
}

.Linkedinlink {
  text-decoration: none;
  background-color: inherit;
  color: #F2F2F2;
}

.code-text {
  width: 400px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid white;
  background-color: inherit;
}

.text-code {
  color: white;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: inherit;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (min-width: 600px) {
.Linkedinlink:hover {
  color: #1485BD;
}
}

/* End footer */
