* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #F9F6EF;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Avenir', sans-serif;
  font-size: 18px;
}


a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
  color: black;
  font-weight: bold;
}

ul {
  margin-bottom: 20px;
}


/* NAVIGATION */
.mainnav {
  margin-top: 5px;
}

.nav-ul-flex {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.nav-ul-flex > li {
  font-size: 20px;
}

.second-lihome {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.second-liprojects {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 180px;
}

.second-liabout {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  padding: 20px;
  width: 180px;
}


.second-navlinks {
  color: #4F4F4F;
}


.second-navlinks:hover {
  color: #FFA1A1;
}

@media (max-width: 500px) {
  .second-liprojects {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    width: auto;
    font-size: 20px;
    border-right: 2px solid #FFA1A1;
  }

}
/* END NAV */



/* INTRO TEXT Mobile first*/
.intro {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 60px;
  margin-bottom: 90px;
  width: 90%;
}

.intro-flex {
  display: flex;
  justify-content: center;
}

.textintro {
  display: block;
  padding-left: 10px;
  padding-right: 5px;
}

.textintro p {
  margin-bottom: 20px;
}


h4 {
  margin-bottom: 30px;
}


/* MEDIA QUERIES*/

@media (min-width: 1050px) {
  .intro-flex {
    margin-left: 5%;
    margin-right: 10%;
    width: auto;
  }

  .textintro {
    display: block;
    width: auto;
    padding-right: 30px;
  }

}



/* END INTRO TEXT  */

.projects-highlight-title {
  margin: 0 auto;
  width: auto;
  text-align: center;
  margin-bottom: 50px;
  font-size: 22px;
}

/* GRID Project highlights */
/* 1: Name the grid-area */

.case1 {
  grid-area: case1;
  width: 250px;
  height: 400px;
  border-bottom: 8px solid #FFA1A1;
}

.case2 {
  grid-area: case2;
  width: 250px;
  height: 400px;
  border-bottom: 8px solid #FFA1A1;
}

.case3 {
  grid-area: case3;
  width: 250px;
  height: 400px;
  border-bottom: 8px solid #FFA1A1;
}

.case4 {
  grid-area: case4;
  width: 250px;
  height: 400px;
  border-bottom: 8px solid #FFA1A1;
}



/* 2: GRID details */
.projects-highlight-grid {
    display: grid;
    grid-row-gap: 20px;
    justify-content: center;
    grid-template-areas:
    "case1"
    "case2"
    "case3"
    "case4"
}


/* MEDIA QUERIES*/
/* CHANGE SPACING */
@media (min-width: 600px) {
.projects-highlight-grid {
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr 0.3fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 100px;
    grid-column-gap: 80px;
    justify-content: center;
    grid-template-areas:
    ". case1  case2 ."
    ". case3  case4 ."
 }
}

@media (min-width: 1100px) {
.projects-highlight-grid {
    display: grid;
    grid-template-columns: 6% 1fr 1fr 1fr 1fr 1%;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-template-areas:
    ". case1  case2 case3 case4 ."
 }
}

.imagecase1 {
  width: 250px;
  height: 250px;
  background-image: url(/Images/HP_Alp.jpg);
  background-size: cover;
  background-position: center;
}


.imagecase2 {
  width: 250px;
  height: 250px;
  background-image: url(/Images/HP_IDH.jpg);
  background-size: cover;
  background-position: right;
}



.imagecase3 {
  width: 250px;
  height: 250px;
  background-image: url(/Images/HP_VELA.jpg);
  background-size: cover;
  background-position: center;
}




.imagecase4 {
  width: 250px;
  height: 250px;
  background-image: url(/Images/HP_Homytschku.jpg);
  background-size: cover;
  background-position: center;
}



/* Hover effects on images */
@media (min-width: 600px) {

  .imagecase1:hover, .imagecase2:hover, .imagecase3:hover, .imagecase4:hover  {
    opacity: 0.5;
  }

  .case1:hover, .case2:hover, .case3:hover, .case4:hover {
    border-bottom: 8px solid #4F4F4F;
  }

}


/* Yellow contact section */
.contact-flex {
  width: 100%;
  height: 500px;
  background-color: #F0FF42;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.contact-text {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: inherit;
}


.contact-flex:hover {
  background-color: #FFA1A1;
  color: white;
}

@media (max-width: 600px) {
  .contact-text {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
  }
}
/* End Yellow section */


/* Footer  */
footer {
  height: 275px;
  width: 100%;
  background-color: #333333;
  position: absolute;
}

.footer-flex {
  height: 275px;
  width: 100%;
  background-color: #333333;
  position: absolute;
}

.contacts {
  background-color: #333333;
}

footer p {
  color: #F2F2F2;
  font-size: 14px;
  background-color: inherit;
}

.p-title {
  display: block;
  width: 80%;
  height: auto;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 90px;
}

.contact-email {
  width: auto;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.contact-linkedin {
  width: auto;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.Linkedinlink, .contacturl {
  text-decoration: none;
  background-color: inherit;
  color: #F2F2F2;
}


@media (min-width: 600px) {


  footer, .footer-flex {
    height: 200px;
  }

  .p-title {
    display: block;
    justify-content: center;
    width: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  .contacts {
    display: flex;
  }

  .contact-email {
    display: flex;
    justify-content: flex-start;
    width: auto;
    text-align: left;
    margin-left: 5%;
    margin-right: auto;
  }


  .contact-linkedin {
    display: flex;
    justify-content: flex-end;
    width: auto;
    text-align: left;
    margin-right: 5%;
    margin-bottom: 0px;
  }

.Linkedinlink:hover {
  color: #1485BD;
}
}


@media (min-width: 900px) {

  .contact-email {
    margin-left: 10%;
  }

  .contact-linkedin {
    margin-right: 10%;
}

}
/* End footer */
